* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #f4f1ee;
    color: #333;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background: #eae5e0;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #555;
}

nav a:hover {
    color: #000;
}

/* HERO */
.hero {
    height: 90vh;
    background: url("background-header.avif") no-repeat center/cover;
    width:auto;
    display: flex;
    align-items: center;
    padding-left: 100px;
    color: white;
}

.hero-text h1 {
    font-size: 60px;
}

.hero-text p {
    margin: 20px 0;
    font-size: 18px;
}

.buttons button {
    padding: 12px 25px;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn-primary {
    background: #c8a97e;
    color: white;
}

.btn-outline {
    background: transparent;
    border: 1px solid white;
    color: white;
}

/* ESSENTIALS */
.essentials {
    padding: 60px 80px;
}

.essentials h2 {
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 200px;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card p {
    padding: 15px;
    font-weight: 500;
}

/* SALE */
.sale {
    background: #ddd3c7;
    padding: 80px;
}

.sale-text h2 {
    margin-bottom: 20px;
}

/* TRENDING */
.trending {
    padding: 60px 80px;
}

.product-container {
    display: flex;
    gap: 30px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 220px;
}

.product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.product h3 {
    margin: 10px 0 5px;
}

.product p {
    font-weight: bold;
}

